/* .chat-bubble {
  display: flex;
  flex-direction: row;
  padding-left: 12px;
}

.chat-paragraph {
  text-align: left;
}

.chat-button {
  background-color: #0F92FF;
  padding: 4px 12px;
  color: white;
  border-radius: 100px;
  border: none;
  font-weight: bold;
  margin-right: 4px;
}

.chat-fixedButton {
  border: 2px solid #0F92FF;
  padding: 4px 12px;
  color: #0F92FF;
  border-radius: 99px;
  font-weight: bold;
  margin-right: 4px;
  background-color: transparent;
}
 */
